# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/

# Xcode shared data (optional: remove if you want to share schemes)
# UIKitiOS.xcodeproj/xcshareddata/

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store
